.App {
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: center;
}

body {
  margin: 0;
}

header {
  background-color: #ffffff;
  vertical-align: center;
  font-family: "Press Start 2P", cursive;
}

.profile img {
  height: 240px;
  width: auto;
}
iframe {
  width: 360px;
}

.timers {
  border-radius: 1px dashed grey;
}
